REACT_APP_SERVER_URL= # Replace with your backend API URL
REACT_APP_SPOTIFY_CLIENT_ID= # Your Spotify Client ID
REACT_APP_SPOTIFY_REDIRECT_URI= # Your app's callback URL for Spotify login
REACT_APP_GOOGLE_API_KEY= # Google API Key
REACT_APP_FACEBOOK_APP_ID= # Facebook App ID
