# Client Configuration
REACT_APP_API_BASE_URL=https://www.personalities.life/api

# Spotify Client-Side Credentials (if any, ensure these are safe to expose)
REACT_APP_SPOTIFY_CLIENT_ID=your-spotify-client-id

# OpenAI API Key (if used on the client side, ensure it's safe to expose)
REACT_APP_OPENAI_API_KEY=your-openai-api-key

# Cloudinary Configuration
REACT_APP_CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
REACT_APP_CLOUDINARY_API_KEY=your-cloudinary-api-key
