# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Allow specific documents
!src/documents/terms-of-service.md
!src/documents/privacy-policy.md
!src/documents/data-deletion.md

# Replace 'src/documents/' with the actual path relative to the client directory
