# Ignore node_modules, build, dist, and other output directories
node_modules
build
dist
coverage
public

# Ignore compiled files
*.min.js
*.min.css
*.bundle.js

# Ignore specific environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore JSON files (if not needed for formatting)
*.json

# Ignore lock files
yarn.lock
package-lock.json

# Ignore configuration files
.prettierrc
.eslintrc
tsconfig.json

# Ignore assets and binaries
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mp3
*.woff
*.woff2
*.eot
*.ttf
*.otf
