PORT=5001
MONGO_URI=your-mongodb-uri
SECRET_KEY=your-secret-key
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=https://www.personalities.life/auth/callback
SESSION_SECRET=your-session-secret
CLIENT_URL=https://www.personalities.life
OPENAI_API_KEY=your-openai-api-key
