{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["server/**/*.{js,ts,tsx}"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["client/**/*.{js,jsx,ts,tsx}"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
