# Ignore virtual environments and Python cache
venv/
env/
__pycache__/
*.pyc

# Ignore system files and logs
.DS_Store
*.log

# Ignore local settings and environment files
*.local
.env
.env.*

# Ignore media and static files (if they are generated)
media/
static/
staticfiles/
logs/
db-data/
coverage/
*.sqlite3

# Ignore Docker-related files (since they're not needed inside the container)
docker-compose.yml
Dockerfile
frontend/
frontend/Dockerfile
backend/
backend/Dockerfile  # If .dockerignore is inside backend directory

# Ignore test and backup files
*.test.*
*.bak
