# Server Configuration
PORT=5001

# Database Configuration
MONGO_URI=your-mongodb-uri

# Security Keys
SECRET_KEY=your-secret-key
SESSION_SECRET=your-session-secret

# Spotify API Credentials
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=https://www.personalities.life/auth/callback

# Client URL
CLIENT_URL=https://www.personalities.life

# OpenAI API Key
OPENAI_API_KEY=your-openai-api-key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
